//Variables

//Colors
$light:white;
$dark : rgb(40,40,40);
$darker: rgb(20,20,20);
$primary: rgb(255,0,0);
$info: rgb(255,165,0);
$semi-transp: rgba(40, 40, 40, 0.5);
$secondary: dodgerblue;

body{
    background-color: $dark;
    font-size: 1rem;
}
h1{
    margin: 2rem;
    button{
        margin-left: 1rem;
        height: 2rem !important;
    }
}
.bold{
    font-weight: bold;
}
