.card{
    position: relative;
    display: block;
    height: auto;
    border-radius: 5%;
    width: 21%;
    margin: 1%;
    padding: 1%;

    &-img{
        width: calc(100% - 1rem);
        height: calc(50% - 1rem);
        min-height: 10rem;
        margin: 0.5rem;
        border-radius: 1rem;
    }
    &-title{
        height: auto;
        word-wrap: break-word;
        font-size: 1.5rem;
    }
    &-body{
        height: calc(30% - 2rem);
        width: calc(100% - 2rem);
        margin: 1rem;
        text-align: left;
        word-wrap: break-word;
        font-size: 1rem;
        span{
            display: block;
            height: 25%;
            font-size: 1em;
        }
    }
    &-bot{
        width: calc(100% - 1rem);
        height: calc(10% - 1rem);
        margin: 0.5rem;
        text-align: right;
        button{
            min-height: 2rem;
            height: 100%;
        }
    }
}