.form{
    font-size: 1rem;
    width: 30%;
    margin: 3rem auto;
    text-align: center;
    input{
        width: 100%;
        height: 2rem;
    }
    button{
        float: right;
        height: 2rem;
    }
}