   /* Customize the label (the container) */
.checkboxContainer {
	display: inline;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	
}

/* Create a custom checkbox */
.checkmark {
	display: inline-block;
	position: relative;
	top: 0;
	height: 2rem;
	width: 2rem;
	background-color: $darker;
	border:1px solid $primary;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
	background-color: $dark;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
	background-color: $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
	top: 0.2rem;
	left: 0.6rem;
	width: 0.5rem;
	height: 20px;
	border: solid $light;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
} 