input[type=range] {
  background-color: transparent;
  -webkit-appearance: none;
  width: 100%;
  margin: -0.2px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px $darker, 0px 0px 1px $dark;
  background: $primary;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px $darker, 0px 0px 1px $dark;
  border: 1px solid #030000;
  height: 2px;
  width: 4px;
  border-radius: 20px;
  background: $darker;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $primary;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px $darker, 0px 0px 1px $dark;
  background: $primary;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px $darker, 0px 0px 1px $dark;
  border: 1px solid #030000;
  height: 2px;
  width: 4px;
  border-radius: 20px;
  background: $darker;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $primary;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px $darker, 0px 0px 1px $dark;
}
input[type=range]::-ms-fill-upper {
  background: $primary;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px $darker, 0px 0px 1px $dark;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px $darker, 0px 0px 1px $dark;
  border: 1px solid #030000;
  width: 4px;
  border-radius: 20px;
  background: $darker;
  cursor: pointer;
  height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: $primary;
}
input[type=range]:focus::-ms-fill-upper {
  background: $primary;
}