.modal {
  	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 35%;
    top: 10%;
    width: 30%; /* Full width */
	overflow: auto; /* Enable scroll if needed */
	padding: 1rem;
	&-title{
		font-size: 2rem;
	}
	&-header{
		display: inline-flex;
		button{
			height: 1rem;
			margin-left: 5rem;
		}
	}

	&-content{
		display: block;
		height: 50%;
		height: 3rem;
	}

	&-footer{
		button{
			border-radius: 1rem;
		}
		.cancel{
			color: $light;
			background-color: $primary;
			margin: 1rem;		
		}
		.confirm{
			color: $light;
			background-color: green;
			float: right;
			margin: 1rem;
		}
	}
  }