table{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    thead{
        td{
            height: 3rem;
            font-size: 1.5rem;
        }
    }
    tbody{
        tr{
            height: 3rem;
            td{
                padding: 0.5rem;
                span{
                    vertical-align: middle;
                    height: 2rem;
                }
            }
        }
    }
}

