*{
	margin: 0;
}
body{
	margin-bottom: 50px;
	color : $light;
	font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimson Text', serif;
}
.content{
	display: flex;
	margin: 1rem 0;
	margin-top: 0;
	height: 85%;
	#main{
		width: 80%;
		margin-bottom: 2rem;
	}
	#chat{
		width: 20%;
	}
}

.info{
	display: flex;
	margin: 1rem 0;
}

.vidctrl{
	margin: 1rem 0;
}

.queue{
	margin: 1rem 0;
	h4,div{
		margin: 1rem;
	}
}

#pubRooms{
	width: 80%;
    margin: 0 10%;
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}



