.vidinfo{
	text-align: center;
	width: 80%;
	#vidTitle{
		color:$light;
		font-size: 2rem;
	}
	button{
		height: 2rem;
	}
	#vidStats{
		span{
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}
}

.nextVidPreview{
	width: 20%;
	#upnext{
		position: relative;
		z-index: -1;
		margin-top: -1rem;
		iframe{
			width: 100%;
			z-index: -1;
			border: none;
		}
	}
	span{
		position: relative;
		top: 1rem;
		left: 1rem;
	}
}