@media only screen and (max-width: 1440px) {
    .content{
        display: contents;
        #main{
            width: 100%;
        }
        #chat{
            width: 100%;
            margin-bottom: 1rem;
            #messages{
                height: 20rem !important;
            }
        }
    }
    .nextVidPreview{
        display: none;
    }
    #joinRoom{
        margin-right: 30% !important;
    }
    .vidinfo{
        width: 100%;
    }
    .header{
        display: block;
        height: auto;
        padding: 0;
        text-align: center;
        #onlineCount{
            display: none;
        }
        
        .brand{
            &-img{
                vertical-align: middle;
                width: 2.5rem;
                height: 2.5rem;
            }
            &-title{
                vertical-align: top;
                font-size: 2rem;
            }
            &-descrition{
                display: none;
            }
            margin-right: 2rem;
        }
        .nav-elements{
            text-align: center;
            display: block;
            width: 100%;
            height: auto;
            font-size: x-large;
            *{
                display: block;
                width: 100%;
                height: auto;
                margin: 0;
                font-size: x-large;
            }
            form{
                display: flex;
                float: none;
                *{
                    text-align: center;
                }
            }
        }
    }
    .playertime, #stop-video{
        display: none;
    }

    #userNamePopUp{
        margin: 10% auto;
        padding: 3rem !important;
    }
    #create-room{
        max-width: 100%;
        margin: 0 5%;
    }
    .createInfo{
        display: none;
    }

    #pubRooms{
        .card{
            width: 100% !important;
            &-bot{
                text-align: center;
                button{
                    min-height: 3rem;
                    height: 100%;
                    width: 50% !important;
                }
            }
        }
    }
}