#playerdiv{
	position: relative;
	margin-bottom: -75px;
	display:block;

	#player{
		position: relative;
		z-index: -1;
		width: 100%    !important;
		height: 100%   !important;
		margin-bottom: 0;
		margin-top: -2.3rem;
	}

	#playerOverlay{
		background: black;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		padding: 0;
		font-size: 8rem;
		text-align: center;
		z-index: -2;
	}
}

#playerEventOverlay{
	position: relative;
	float: right;
	right: 0;
	top: 0;
	padding: 0.5rem;
}

#playerCtrl {
	position: relative;
	background-color: transparent;
	padding: 0.5rem;
	.top{
		height: 20px;
		vertical-align: middle;
	}
	.bot{
		margin-top: 0.5rem;
		*{
			color: $primary;
			margin-left: .5rem;
			margin-right: .5rem;
			i{
				width: 20px;
				height: 20px;
			}
		}
	}
	#volume{
		height: 20px;
		vertical-align: middle;
	}
}