#queue{
	height: 11rem;
	list-style: none;
	padding: 0;
	overflow: auto;
	white-space: nowrap;
	li{
		display: inline-block;
		text-align: center;
		margin: 0 1rem;
		img{
			margin-right: -4.2rem;
			height: 9rem;
			width: 16rem;
			opacity: 0.5;
		}
		button{
			position: relative;
			padding: 0.5rem;
			float: right;
			height: auto;
			z-index: 1;
		}
	}
	:first-child {
		img{
			opacity: 1;
			border: 1px solid $primary;
		}
	  }
}
