#vidctrl{
	display: flex;
    height: 3rem;
    font-size: 2rem;
    form{
        margin-right: 0.5rem;
        flex-grow: 1;
        input{
            width: 70%;
        }
        button{
            width: 30%;
        }
    }
}